const NOPE = Symbol("NOPE");
const cleanRawInput = (raw) => raw.trim().split(/\n/);

const example = ``;

function partOne(input, report, answer) {
  const result = input;

  report("Part one", result, answer);
}

function partTwo(input, report, answer) {
  const result = input;

  report("Part two", result, answer);
}

module.exports = (raw, { report }) => {
  const input = cleanRawInput(raw);

  partOne(input, report, NOPE);
  // partTwo(input, report, NOPE)
};
